<!-- ②全体 「render部分」 view/other_coments/_each_other_comment.html.erb -->

<!-- ⑤d<div class="each_other_comment row" data-comment -->
<div class="each_other_comment row" data-comment="<%= each_other_comment.id %>">

<!-- ⑥何かがおかしい　_edit_other_comment.js.erbに追記するんじゃなくて？ -->
  <div class="each_other_comment row" data-comment="<%= @id_comment %>">
  <%# ⑦の表記場所はhtmlの方だけど、form-は⑥で登場 %>
    <%= form_with(model: @other_comment, remote: true) do |form| %>
      <div class="add_other_comment row">
        <%= form.text_area :other_comment, rows: 3, placeholder: "コメントを追加...", class: "col-xs-11" %>
        <%= form.submit '投稿する', data: { confirm: '投稿しますか？' }, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
<!-- ⑥の終わり -->

  <p class="col-xs-10"><strong><%= each_other_comment.user.name %></strong>&nbsp;&nbsp;<span id="for_edit"><%= each_other_comment.other_comment %></span></p>
  <div class="col-xs-2">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

<!-- ③編集の部分 -->
      <li><%= link_to '編集', edit_other_comment_path(each_other_comment.id), remote: true %></li>

      <li><%= link_to '削除', other_comment_path(each_other_comment.id),remote: true, data: { confirm: '削除しますか？' }, method: :delete %></li>
      </ul>
    </div>
  </div>
</div>
