<div class = "comment-edit">
  <%= form_with(model:[ @group, @post, @comment]) do |form| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
      <div class = "comment-edit__error">
        <%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:
      </div>
      <div class = "comment-edit__messages">
        <% @comment.errors.full_messages.each do |message| %>
          <div class = "comment-edit__messages"><%= message %></div>
        <% end %>
      </div>
      </div>
    <% end %>

    <!-- <div class="comment-edit__label"><%#= form.label :コメント %></div> -->
    <div class="comment-edit__textarea"><%= form.text_area :content %></div>
    <div class="comment-edit__submit"><%= form.submit "コメントする" %></div>
  <% end %>
</div>
