<div class = "comment-form">
  <%= form_with(model: [group, post, comment]) do |form| %>
    <% if comment.errors.any? %>
      <div id="error_explanation">
        <div class = "comment-form__error">
          <%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:
        </div>
        <div class = "comment-form__items">
          <% comment.errors.full_messages.each do |message| %>
            <div class = "comment-form__item"><%= message %></div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="comment-form__content"><%= form.text_area :content %></div>
    <div class="comment-form__submit"><%= form.submit "コメントする" %></div>
  <% end %>
</div>
