<div class="group-item">
  <div class="group-item__body">
    <div class="group-item__body-name"><%= group.name %></div>
    <div class="group-item__body-username"><%= "group.user.name" %></div>
    <div class="group-item__body-links">
      <div class="group-item__body-link"><%= link_to '詳細', group_path(group.id) %></div>
      <div class="group-item__body-link"><%= link_to "編集", edit_group_path(group.id) %></div>
      <div class="group-item__body-link"><%= link_to '削除', group_path(group.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></div>
    </div>
  </div>
</div>
