<div class="group-show">
<div class="group-show__title">グループ詳細画面</div>
<div class="group-show__groupindex"><%= link_to '戻る', groups_path %></div>
<div class="group-show__groupname">グループ名: <%= @group.name %></div>
<div class="group-show__ownername">作成者名: <%= @group.user.name %></div>

<% unless @group.user_id == current_user.id %>
  <% if @member.present? %>
    <div class="group-show__out">
      <%= link_to '退会する', member_path(id: @member.id), method: :delete, class: 'btn btn-danger' %>
    </div>
  <% else %>
    <div class="group-show__join">
      <%= link_to '参加する', members_path(group_id: @group.id), method: :post, class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
<div class="group-show__postindex">
  <%= link_to "仕事一覧", group_posts_path(group_id: @group.id) %><br/><br/>
</div>
<div class="group-show__members">
  <% @group.members.each do |member| %>
  <div class="group-show__member">
    <%= member.user.name %>
  </div>
  <% end %>
</div>
