<div class="user-form">
  <% if @user.errors.any? %>
    <div class="user-form__errors">
      <%= @user.errors.count %>件のエラーがあります。
    </div>
    <div class="user-form__messages">
      <% @user.errors.full_messages.each do |msg|%>
        <div class="user-form__message"><%= msg %></div>
      <% end %>
    </div>
  <% end %>

    <div class="user-form__body">
      <%= form_with(model: @user, local: true) do |f| %>
        <%# if action_name == "edit" %>
          <div class="user-form__body-profilelabel"><%= f.label :プロフィール画像 %></div>
          <div class="user-form__body-temporaryimage"><%= image_tag(@user.image.url) if @user.image.present? %></div>
          <div class="user-form__body-imagefield"><%= f.file_field :image %></div>
          <%= f.hidden_field :image_cache %>
        <%# end %>
        <div class="user-form__body-namelabel"><%= f.label :名前 %><br>
        <div class="user-form__body-namefield"><%= f.text_field :name %><br>
        <div class="user-form__body-maillabel"><%= f.label :メールアドレス %><br>
        <div class="user-form__body-emailfield"><%= f.text_field :email %><br>
        <div class="user-form__body-passwordlabel"><%= f.label :パスワード %><br>
        <div class="user-form__body-passwordfield"><%= f.password_field :password %><br>
        <div class="user-form__body-repasswordlabel"><%= f.label :パスワード再確認 %><br>
        <div class="user-form__body-repasswordfield"><%= f.password_field :パスワード再確認 %><br>
        <div class="user-form__body-submit"><%= f.submit "登録"%><br>
      <% end %>
    </div>
</div>
