<div class="post-form">
  <div class="post-form__index btn-default"><%= link_to "戻る", group_posts_path %></div>
  <% if @post.errors.any? %>
    <div class="post-form__errors">
      <%= @post.errors.count%>件のエラーがあります。
    </div>
    <div class="post-form__messages">
      <% @post.errors.full_messages.each do |msg| %>
        <div class="post-form__message"><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="post-form__body">
    <%#= もともと form_with(model: @post, local: true, url:choose_new_or_edit) do |f| %>
    <%#= forに変更 form_for([@post.group, @post], local: true, url: choose_new_or_edit) do |f| %>
    <%= form_with(model:[@post.group, @post], local: true, url: choose_new_or_edit) do |f| %>
    <%#= サイトからひっぱてきた form_with(model:[@board, Comment.new]) do |form| %>
      <%= hidden_field_tag "group_id", @post.group_id %>
      <div class="post-form__body-imagelabel"><%= f.label :画像 %></div>
      <div class="post-form__body-imageurl"><%= image_tag(@post.image.url) if @post.image.url %></div>
      <%= f.hidden_field :image_cache %>
      <div class="post-form__body-imagefield"><%= f.file_field :image %></div>
      <div class="post-form__body-titlelabel"><%= f.label :タイトル %></div>
      <div class="post-form__body-titlefield"><%= f.text_field :title %></div>
      <div class="post-form__body-contentlabel"><%= f.label :内容 %></div>
      <div class="post-form__body-contentfield"><%= f.text_field :content %></div>
      <div class="post-form__body-tags">
        <% Tag.all.each do |tag| %>
        <div class = "clearfix">
          <div class="post-form__body-tagbox"><%= f.check_box :tag_ids, {multiple: true, checked: tag[:checked], disabled: tag[:disabled], include_hidden: false}, tag[:id] %></div>
          <div class="post-form__body-tagname"><%= tag.name %></div>
        </div>
        <% end %>
      </div>
      <div class="post-form__body-grouplabel"><%#= f.label :グループ %></div>
      <div class="post-form__body-groupname"><%#= @group.name %></div>
      <%# f.hidden_field :group_id, value: @group.id %>
      <div class="post-form__body-submit"><%= f.submit %></div>
    <% end %>
  </div>
</div>
