<div class="post-confirm">
  <div class="post-confirm__confirm">以下の内容で、送信する。</div>
  <div class="post-confirm__body">
    <%= form_with(model: @post, url: group_posts_path, local: true) do |f| %>
      <div class="post-confirm__body-htitlefield"><%= f.hidden_field :title %></div>
      <div class="post-confirm__body-hcontentfield"><%= f.hidden_field :content %></div>
      <div class="post-confirm__body-himagefield"><%= f.hidden_field :image %></div>
      <%= f.hidden_field :image_cache %>
      <div class="post-confirm__body-tags">
        <% @post.tags.map(&:id).each do |id| %>
          <div class="hpost-confirm__body-tag">
            <%= hidden_field_tag "post[tag_ids][]", id %>
          </div>
        <% end %>
      </div>
      <div class="post-confirm__body-group">
        <%= f.hidden_field :group %>
      </div>
      <div class="post-confirm__imagetitle">画像</div>
      <div class="post-confirm__image">
        <%= image_tag(@post.image.url) if @post.image.url %><br>
      </div>
      <div class="post-confirm__title">タイトル</div>
      <div class="post-confirm__post-title"><%= @post.title %></div>
      <div class="post-confirm__content">内容</div>
      <div class="post-confirm__post-content"><%= @post.content %></div>
      <div class="post-confirm__group">グループ</div>
      <div class="post-confirm__group-name"><%= @post.group.name %></div>
      <div class="post-confirm__submit"><%= f.submit  "登録する" %></div>
    <% end %>
  </div>
  <div class="post-confirm__body">
    <%= form_with(model: @post, url: new_group_post_path, local: true, method: "get") do |f| %>
      <div class="post-confirm__body-htitlefield"><%= f.hidden_field :title %>
      <div class="post-confirm__body-hcontentfield"><%= f.hidden_field :content %>
      <div class="post-confirm__body-himagefield"><%= f.hidden_field :image %>
      <%= f.hidden_field :image_cache %>
      <div class="post-confirm__body-tags">
        <% @post.tags.map(&:id).each do |id| %>
          <div class="hpost-confirm__body-tag">
            <%= hidden_field_tag "post[tag_ids][]", id %>
          </div>
        <% end %>
      </div>
      <div class="post-confirm__back">
        <%= f.submit "戻る", name: "back" %>
      </div>
    <% end %>
  </div>
</div>
