<!DOCTYPE html>
<html>
  <head>
    <title>callme</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content=“width=device-width”>
  </head>
  <body>
  <div class="application clearfix">
    <div class="application__title"><%= link_to "callme",root_path %></div>
    <% unless logged_in? %>
      <div class="application__about"><%= link_to "callmeとは", about_path %></div>
    <% end %>

    <div class="application__migi">
    <% if logged_in? %>
      <div class="application__userindex"><%= link_to "ユーザー一覧", users_path %></div>
    　<div class="application__groupindex"><%= link_to "グループ一覧", groups_path %></div>
      <div class="application__username"><%= link_to current_user.name, user_path(current_user.id) %></div>
      <div class="application__logout"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></div>
    <% else %>
      <div class="application__makeuser"><%= link_to "新規登録", new_user_path %></div>
      <div class="application__login"><%= link_to "ログイン", new_session_path %></div>
    <% end %>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
